.filter_genre {
	li {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 10px;
		font-size: 1.2rem;
		color: rgb(245, 245, 245);
		cursor: pointer;

		&.active {
			background-color: #666;
		}
	}
}

.label_filter {
	flex: 1;
	padding: 12px 0;
}
.collapse_wrapper {
	flex: 1;
}

.collapse_wrapper_button {
	display: flex;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
	width: 100%;
}

.collapse_items {
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 1.4rem;
	cursor: pointer;
}

.collapse_items:hover {
	opacity: 0.7;
	transition: all ease 200ms;
}

.collapse_items > label {
	flex: 1;
	padding: 12px 8px;
}
