.nav_options {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	letter-spacing: 1.05px;
	font-weight: 400;
	padding: 0 14px;
	height: 100%;
	text-transform: uppercase;
}

.nav_options.capitalize {
	text-transform: capitalize !important;
}
.nav_options::after {
	content: "";
	position: absolute;
	border-bottom: 0 solid #0d6efd;
	left: 0;
	right: 0;
	bottom: 0;
}
.nav_options.active::after,
.nav_options:hover::after {
	content: "";
	position: absolute;
	border-width: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all ease-in 100ms;
}

.nav_options span {
	font-size: 1.6rem;
}

.brand_img {
	display: block;
	min-width: 120px;
	max-width: 130px;
	margin-top: 4px;
	margin-right: 8px;
}
